<!DOCTYPE html>
<html lang=\"ru\">
<head>
    <meta charset=\"UTF-8\">
    <title>Go-приложение</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        html, body {
            height: 100%;
            width: 100%;
            background-color: #161b22;
            color: #ccc;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            padding: 0;
            margin: 0;
        }

        div.container {
            height: 100%;
            position: relative
        }

        div.container p {
            line-height: 200%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }</style>
</head>
<body>
<div class="container">
    <p>
        Приветствую!<br>
        Go-приложение развёрнуто в Aws Lambda.<br>
        <span style="font-size:0.8em; color:grey">{{ .time }}</span>
    </p>
</div>
</body>
</html>